@model EntityLayer.Concrete.Category

@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<br />
<h1>Kategori ekleme sayfası</h1>
<br />
@using (Html.BeginForm("AddCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori adı")
        @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CategoryName)
        <br />
        @Html.Label("Açıklamayı yazınız")
        @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CategoryDescription)
        <br />
        <button id="btn1" class="btn btn-success">Kaydet</button>
    </div>
}

@if (ViewBag.d == 0)
{
    <script type="text/javascript">
        document.getElementById("btn1").onclick = function () {
            uyari()
        };
        function uyari() {
            swal("Hata!", "Kategori eklenmedi!", "danger");
        };
        window.onload = function () {
            uyari();
        };
        
        
    </script>
}
else if (ViewBag.d==1)
{

}
else if (ViewBag.d == 2)
{
<script type="text/javascript">
    document.getElementById("btn1").onclick = function () {
        uyari()
    };
    function uyari() {
        swal("Başarılı!", "Kategori başarıyla eklendi!", "success");
    };
    window.onload = function () {
        uyari();
    };

</script>
}

else
{

}



